rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users collection
    match /users/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
			allow create: if request.auth.uid != null;
    }

    // Clients collection
    match /clients/{clientId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == resource.data.userId;
      allow create: if request.auth.uid != null;
    }
  }
}